.header {
  height: 520px;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e09900;
  background-image: url("https://www.transparenttextures.com/patterns/vintage-speckles.png");
}

.header img {
  margin-top: 130px;
}

/* For desktop */
@media only screen and (min-width: 1024px) {
  .header{
    margin: 1em;
    margin-top: 150px;
    width: 40vw;
  }
  }