.nav-bar {
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
}

nav span {
  font-family: "bungee";
}

.nav-logo { 
  font-size: 2em;
}

.nav-right-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-new-tweet {
  font-size: 1em;
}

.fa-angles-down{
  color: #eb0a0a;
}

/* For desktop */
@media only screen and (min-width: 768px) {
  .nav-bar{
    background-color: #4056A1;
  }
}