.new-tweet-form {
  width: 100%;
}

.new-tweet {
  width: 100%;
  display: flex;
  justify-content: center;
}

.counter {
  float: right;
  font-family: "bungee";
}

#tweet-text {
  width: 100%;
  border: none;
  border-bottom: solid thick;
  outline: none;
  background-color: transparent;
  resize: none;
}

.tweet-button {
  background-color: #4056A1;
  font-family: "bungee";
  color: white;
  border: none;
}