.published-tweets {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tweet-content {
  border: thick solid;
  padding: 1em;
}

.tweet-content:hover {
  box-shadow: 10px 5px 5px lavender;
}

.tweet-content header {
  display: flex;
  justify-content: space-between;
}

.tweet-username {
  color: rgb(192, 192, 192);
}

.tweet-content textarea {
  width: 100%;
  border: none;
  border-bottom: solid thick;
  outline: none;
  background-color: transparent;
  resize: none;
}

.tweet-content footer {
  font-size: medium;
  display: flex;
  justify-content: space-between;
}
.tweet-icon:hover {
  color: lavender;
}

/* For desktop */
@media only screen and (min-width: 768px) {
  .tweet-container {
    margin: 0em 1em 1em 1em;
  }
  }